/target
/.shadow-cljs
/node_modules
config.edn
frontend/node_modules
frontend/.shadow-cljs
frontend/public/js/cljs-runtime
frontend/public/js/manifest.edn
backend/node_modules
backend/.shadow-cljs
backend/public/js/cljs-runtime
backend/public/js/manifest.edn
public/js
index.js
private_key.pem
public_key.pem
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
yarn.lock
*.iml
/.idea
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
