/target
frontend/node_modules
frontend/.shadow-cljs
frontend/index.js
frontend/public/js/cljs-runtime
frontend/public/js/manifest.edn
backend/node_modules
backend/.shadow-cljs
backend/index.js
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
yarn.lock
*.iml
/.idea
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
